[submodule "libdwarf"]
	path = libdwarf
	url = git://libdwarf.git.sourceforge.net/gitroot/libdwarf/libdwarf
[submodule "libunwind"]
	path = libunwind
        url = git://git.sv.gnu.org/libunwind.git
[submodule "luajit-2.0"]
	path = luajit-2.0
	url = http://luajit.org/git/luajit-2.0.git
